<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form">
    <div class="box">
      <%= form.label :task_title, 'Title:', style: "display: block", :class => 'label' %>
      <%= form.text_field :task_title, :class => 'input'  %>
    </div>
  
    <div class="box">
      <%= form.label :task_desc, 'Description:', style: "display: block", :class => 'label' %>
      <%= form.text_area :task_desc, :class => 'input'  %>
    </div>
  
    <div class="box">
      <%= form.label :task_date, 'Date:', style: "display: block", :class => 'label' %>
      <%= form.date_field :task_date, :class => 'input' %>
    </div>
  
    <div>
      <%= form.number_field :user_id, id: :task_user_id, value: current_user.id, type: :hidden %>
    </div>
  
    <div class="box">
      <%= form.submit :class => 'btn green width-420' %>
    </div>
</div>

<% end %>
