<div id="<%= dom_id task %>">
  <p>
    <strong>Task title:</strong>
    <%= task.task_title %>
  </p>

  <p>
    <strong>Task desc:</strong>
    <%= task.task_desc %>
  </p>

  <p>
    <strong>Task completed:</strong>
    <%= task.task_completed %>
  </p>

  <p>
    <strong>Task date:</strong>
    <%= task.task_date %>
  </p>

</div>
